<div class="main" ng-controller="MainCtrl">
   <div ng-cloak>
      <md-content>
         <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Logistics">
               <md-content class="md-padding" layout="column">
                  <h1 class="md-display-2">Plan your event below</h1>
                  <md-datepicker ng-model="chosenDate" md-placeholder="Enter date"></md-datepicker>
                  <div id="location-autocomplete">
                    Location:
                    <input id="pac-input" ng-model="location" class="controls" type="text"
                    placeholder="Enter your starting location">
                  </div>                  
                  <md-input-container class="md-block">
                     <label>Free time starts</label>
                     <input mdc-datetime-picker="" date="false" time="true" type="text" id="time" short-time="true"
                            placeholder="Time" format="hh:mm a" ng-model="chosenStartTime" class=" md-input">
                  </md-input-container>
                  <md-input-container class="md-block">
                     <label>Get me home by</label>
                     <input mdc-datetime-picker="" date="false" time="true" type="text" id="time" short-time="true"
                            placeholder="Time" format="hh:mm a" ng-model="twoHoursFromNow" class=" md-input">
                  </md-input-container>
               </md-content>
               <md-content class="md-padding" layout="row">
                  <md-button ng-repeat="category in allCategories | limitTo:10" ng-click="add(category)">{{category.id}}</md-button>
                  <md-input-container>
                     <md-menu md-position-mode="target-right target" >
                        <md-button aria-label="Open demo menu" class="md-icon-button more-button" ng-click="$mdOpenMenu($event)">
                           <p><i class="fa fa-chevron-down"></i>More</p>
                        </md-button>
                        <md-menu-content width="6" >
                           <md-menu-item ng-repeat="category in allCategories" ng-if="$index > 10">
                              <md-button ng-click="add(category)">
                                 <div layout="row">
                                    <p flex>{{category.id}}</p>
                                 </div>
                              </md-button>
                           </md-menu-item>
                        </md-menu-content>
                     </md-menu>
                  </md-input-container>
               </md-content>
               <md-content>
                  <md-chips ng-model="selectedCategories" readonly="false">
                     <md-chip-template>
                        <strong>{{$chip.id}}</strong>
                     </md-chip-template>
                  </md-chips>
               </md-content>
            </md-tab>
            <md-tab label="Main Event">
               <md-content class="md-padding">
                  <h1 class="md-display-2">Select your main event for {{chosenDate | date}}</h1>
               </md-content>
            </md-tab>
            <md-tab label="Suggestions">
               <md-content class="md-padding">
                  <h1 class="md-display-2">Suggestions to complement {{chosenEvent}}</h1>
               </md-content>
               <md-content>
                  <md-list>
                     <md-subheader class="md-no-sticky">{{ yelpLimit }} best {{ yelpTerm }} in {{ yelpCity }} </md-subheader>
                     <md-list-item class="md-3-line" ng-repeat="item in suggestions">
                       <img ng-src="{{item.image_url}}" class="md-avatar" alt="{{item.rating_img_url}}" />
                       <div class="md-list-item-text" layout="column">
                         <h3>{{ item.name }}</h3>
                         <p>Rating: {{ item.rating }}</p>
                         <p>Phone Number: {{ item.phone }}</p>
                       </div>
                     </md-list-item>
                     <md-divider ></md-divider>
                  </md-list>
               </md-content>
            </md-tab>
         </md-tabs>
      </md-content>
   </div>
</div>